body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
  }

h2{
  color: forestgreen;
  font-size: 60px;
}

.jumbotron{
  background-color: ivory;
}

.panel{
  background-color: ivory;
}

.panel-heading{
  background-color: forestgreen;
  color: ivory;
}

.well{
  background-color: ivory;
  color: forestgreen;
}
